@using ImillReports.ViewModels
@{
    ViewBag.Title = "Branch Sales Dashboard";
    ViewBag.SubTitle = "";

    var fromDate = ViewBag.fromDate;
    var toDate = ViewBag.toDate;

    var fromD = ViewBag.fromD;
    var toD = ViewBag.toD;
    var jsonResult = ViewBag.jsonResult;

    var DSTop5BranchProdByVal = (List<Product>)ViewBag.DSTop5BranchProdByVal;
    var DSTop5HoProdByVal = (List<Product>)ViewBag.DSTop5HoProdByVal;

    var DSTop5ProdByKg = (List<Product>)ViewBag.DSTop5ProdByKg;
    var DSTop5ProdHoByKg = (List<Product>)ViewBag.DSTop5ProdHoByKg;
    
    var DSTop5ProdByQty = (List<Product>)ViewBag.DSTop5ProdByQty;
    var DSTop5ProdHoByQty = (List<Product>)ViewBag.DSTop5ProdHoByQty;

}

<style>
    .e-grid .e-rowcell.customcss {
        font-size: 11px;
    }

    .e-grid .e-headercell.customcss {
        font-size: 11px;
    }

    .e-grid .e-summaryrow .e-summarycell, .e-grid .e-summaryrow .e-templatecell {
        font-size: 11px;
    }

    .e-headertext {
        font-size: 11px;
    }

    .e-grid .e-headercell.custom-header-css {
        background-color: #eee8aa;
    }

    .e-grid .e-headercell.custom-header-qty-css {
        background-color: #d9ff81;
    }

    .e-grid .e-headercell.custom-header-kg-css {
        background-color: #81d8ff;
    }

    .hiddenRow {
        padding: 0 4px !important;
        background-color: #eeeeee;
        font-size: 13px;
    }

    .accordian-body span {
        color: #a2a2a2 !important;
    }
</style>

<div class="container-fluid">
    @if (ViewBag.validation == "true")
    {
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    Start Date is Greater then End Date
                </div>
            </div>
        </div>
    }
    <div class="row clearfix">
        <div class="col-12">
            <div class="card">
                @using (Html.BeginForm("BranchSales", "Dashboard", FormMethod.Get))
                {
                    <div class="row p-3">
                        <div class="col-3">
                            @Html.EJS().DateTimePicker("fromDate").Format("dd/MMM/yyyy hh:mm a").Value(@fromD).Render()
                        </div>
                        <div class="col-3">
                            @Html.EJS().DateTimePicker("toDate").Format("dd/MMM/yyyy hh:mm a").Value(@toD).Render()
                        </div>

                        <div class="col-2">
                            <button type="submit" class="btn btn-raised bg-black waves-effect waves-light">Get Records</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row clearfix">

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card info-box-2 l-amber">
                <div class="body">
                    <div class="content col-12">
                        <div class="text">Total Branch Sales</div>
                        <div class="number" id="totalBranchSales"></div>
                        <hr />
                        <h5>@ViewBag.BRSalesPercent%</h5>
                        <div class="progress m-b-5">
                            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="@ViewBag.BRSalesPercent" aria-valuemin="@ViewBag.BRSalesPercent"
                                 aria-valuemax="100" style="width:@ViewBag.BRSalesPercent%">
                                <span class="sr-only">@ViewBag.BRSalesPercent% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="card info-box-2 l-blush">
                <div class="body">
                    <div class="content col-12">
                        <div class="text">Total HO Sales</div>
                        <div class="number" id="totalHOSales"></div>
                        <hr />
                        <h5>@ViewBag.HOSalesPercent%</h5>
                        <div class="progress m-b-5">
                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="@ViewBag.HOSalesPercent" aria-valuemin="@ViewBag.HOSalesPercent"
                                 aria-valuemax="100" style="width:@ViewBag.HOSalesPercent%">
                                <span class="sr-only">@ViewBag.HOSalesPercent% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="card info-box-2 l-parpl">
                <div class="body">
                    <div class="content col-12">
                        <div class="text">HO Sales (Cash)</div>
                        <div class="number" id="totalHOSalesCash"></div>
                        <hr />
                        <h5>@ViewBag.HOSalesCashPercent%</h5>
                        <div class="progress m-b-5">
                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="@ViewBag.HOSalesCashPercent" aria-valuemin="@ViewBag.HOSalesCashPercent"
                                 aria-valuemax="100" style="width:@ViewBag.HOSalesCashPercent%">
                                <span class="sr-only">@ViewBag.HOSalesCashPercent% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="card info-box-2 l-seagreen">
                <div class="body">
                    <div class="content col-12">
                        <div class="text">HO Sales (Credit)</div>
                        <div class="number" id="totalHOSalesCredit"></div>
                        <hr />
                        <h5>@ViewBag.HOSalesCreditPercent%</h5>
                        <div class="progress m-b-5">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="@ViewBag.HOSalesCreditPercent" aria-valuemin="@ViewBag.HOSalesCreditPercent"
                                 aria-valuemax="100" style="width:@ViewBag.HOSalesCreditPercent%">
                                <span class="sr-only">@ViewBag.HOSalesCreditPercent% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="card info-box-2 l-blue">
                <div class="body">
                    <div class="content col-12">
                        <div class="text">HO Sales Return</div>
                        <div class="number" id="salesReturnHO"></div>
                        <hr />
                        <h5>@ViewBag.HOSalesReturnPercent%</h5>
                        <div class="progress m-b-5">
                            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="@ViewBag.HOSalesReturnPercent" aria-valuemin="@ViewBag.HOSalesReturnPercent"
                                 aria-valuemax="100" style="width:@ViewBag.HOSalesReturnPercent%">
                                <span class="sr-only">@ViewBag.HOSalesReturnPercent% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="col-lg-2 col-md-6 col-sm-12">
                <div class="card info-box-2 l-khaki">
                    <div class="body">
                        <div class="content col-12">
                            <div class="text">Sales Return (Branches)</div>
                            <div class="number" id="salesReturnBranches"></div>
                        </div>
                    </div>
                </div>
            </div>*@

    </div>

    <div class="row clearfix">
        <div class="col-lg-2 col-md-6 col-sm-12 text-center">
            <div class="card tasks_report">
                <div class="header">
                    <h4>Cash</h4>
                    <hr />
                </div>
                <div class="body" style="padding-top: 0 !important">
                    <input type="text" class="knob dial1" value="@ViewBag.BRCashPercent" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#824ED2" readonly>
                    <h5 id="totalCashSales" class="m-t-20"></h5>
                    @*<hr />
                        <small class="displayblock">@ViewBag.BRCashPercent %</small>*@
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-12 text-center">
            <div class="card tasks_report">
                <div class="header">
                    <h4>KNET</h4>
                    <hr />
                </div>
                <div class="body" style="padding-top: 0 !important">
                    <input type="text" class="knob dial2" value="@ViewBag.BRKnetPercent" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#ffa07a" readonly>
                    <h5 id="totalKnetSales" class="m-t-20"></h5>
                    @*<hr />
                        <small class="displayblock">@ViewBag.BRKnetPercent %</small>*@
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-12 text-center">
            <div class="card tasks_report">
                <div class="header">
                    <h4>Credit Card</h4>
                    <hr />
                </div>
                <div class="body" style="padding-top: 0 !important">
                    <input type="text" class="knob dial3" value="@ViewBag.BRCCPercent" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#8fbc8f" readonly>
                    <h5 id="totalCreditCardSales" class="m-t-20"></h5>
                    @*<small class="displayblock">@ViewBag.BRCCPercent %</small>*@
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-12 text-center">
            <div class="card tasks_report">
                <div class="header">
                    <h4>Carriage</h4>
                    <hr />
                </div>
                <div class="body" style="padding-top: 0 !important">
                    <input type="text" class="knob dial4" value="@ViewBag.BRCarraigePercent" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#00adef" readonly>
                    <h5 id="totalCarraigeSales" class="m-t-20"></h5>
                    @*<small class="displayblock">@ViewBag.BRCarraigePercent %</small>*@
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-12 text-center">
            <div class="card tasks_report">
                <div class="header">
                    <h4>Online</h4>
                    <hr />
                </div>
                <div class="body" style="padding-top: 0 !important">
                    <input type="text" class="knob dial1" value="@ViewBag.BROnlinePercent" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#00ced1" readonly>
                    <h5 id="totalOnlineSales" class="m-t-20"></h5>
                    @*<small class="displayblock">@ViewBag.BROnlinePercent %</small>*@
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-12 text-center">
            <div class="card tasks_report">
                <div class="header">
                    <h4>Sales Return</h4>
                    <hr />
                </div>
                <div class="body" style="padding-top: 0 !important">
                    <input type="text" class="knob dial2" value="0" data-width="90" data-height="90" data-thickness="0.1" data-fgColor="#ffa07a" readonly>
                    <h5 id="salesReturnBranches" class="m-t-20"></h5>
                    @*<small class="displayblock">@ViewBag.BRsalesReturnPercent %</small>*@
                </div>
            </div>
        </div>

    </div>

    <div class="row mb-5">

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Top 10 Product By Value</h5>
                    <table class="table table-bordered" style="border-collapse:collapse;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>NameAr</th>
                                <th>Amount</th>
                                <th>Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var prod in DSTop5BranchProdByVal)
                            {
                                <tr colspan="6" data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                                    <td>@prod.Name</td>
                                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">@prod.NameAr</td>
                                    <td>@prod.Amount.Value.ToString("0.000")</td>
                                    <td>@prod.Percentage.ToString("0.00")</td>
                                </tr>

                                <tr class="p">
                                    <td colspan="6" class="hiddenRow">
                                        <div class="accordian-body collapse p-3" id="demo1">
                                            <h4></h4>
                                            <table class="table table-bordered" style="border-collapse:collapse;">
                                                <thead style="background-color: #fff8dc;">
                                                    <tr>
                                                        <th>Location</th>
                                                        <th>Amount</th>
                                                        <th>Percentage</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="background-color: #fffaf0">

                                                    @foreach (var detail in prod.ProductDetails)
                                                    {

                                                        <tr>
                                                            <td>@detail.Location</td>
                                                            <td>@detail.Amount.Value.ToString("0.000")</td>
                                                            <td>@detail.Percentage.ToString("0.00")</td>
                                                        </tr>

                                                    }
                                                </tbody>
                                            </table>
                                            @*<p>Amount : <span></span></p>
                                <p>Percentage : <span></span> </p>
                                <p>Location : <span></span> </p>*@
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Top 10 Product By Value (HO)</h5>
                    <table class="table table-bordered" style="border-collapse:collapse;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>NameAr</th>
                                <th>Amount</th>
                                <th>Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var prod in DSTop5HoProdByVal)
                            {
                                <tr colspan="6">
                                    <td>@prod.Name</td>
                                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">@prod.NameAr</td>
                                    <td>@prod.Amount.Value.ToString("0.000")</td>
                                    <td>@prod.Percentage.ToString("0.00")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="row mb-5">

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Top 10 Product By Kg</h5>
                    <table class="table table-bordered" style="border-collapse:collapse;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>NameAr</th>
                                <th>Sell Quantity</th>
                                <th>Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var prod in DSTop5ProdByKg)
                            {
                                <tr colspan="6" data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                                    <td>@prod.Name</td>
                                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">@prod.NameAr</td>
                                    <td>@prod.SellQuantity.ToString("0.000")</td>
                                    <td>@prod.Percentage.ToString("0.00")</td>
                                </tr>

                                <tr class="p">
                                    <td colspan="6" class="hiddenRow">
                                        <div class="accordian-body collapse p-3" id="demo1">
                                            <h4></h4>
                                            <table class="table table-bordered" style="border-collapse:collapse;">
                                                <thead style="background-color: #b4baff;">
                                                    <tr>
                                                        <th>Location</th>
                                                        <th>Sell Quantity</th>
                                                        <th>Overall %</th>
                                                        <th>Branch %</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="background-color: #edefff">

                                                    @foreach (var detail in prod.ProductDetails)
                                                    {

                                                    <tr>
                                                        <td>@detail.Location</td>
                                                        <td>@detail.SellQuantity.ToString("0.000")</td>
                                                        <td>@detail.Percentage.ToString("0.00")</td>
                                                        <td>@detail.PercentageAllItem.ToString("0.00")</td>
                                                    </tr>

                                                    }
                                                </tbody>
                                            </table>
                                            @*<p>Amount : <span></span></p>
                                            <p>Percentage : <span></span> </p>
                                            <p>Location : <span></span> </p>*@
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Top 10 Product By Kg (HO)</h5>
                    <table class="table table-bordered" style="border-collapse:collapse;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>NameAr</th>
                                <th>Sell Quantity</th>
                                <th>Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var prod in DSTop5ProdHoByKg)
                            {
                                <tr colspan="6">
                                    <td>@prod.Name</td>
                                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">@prod.NameAr</td>
                                    <td>@prod.SellQuantity.ToString("0.000")</td>
                                    <td>@prod.Percentage.ToString("0.00")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="row mb-5">

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Top 10 Product By Qty</h5>
                    <table class="table table-bordered" style="border-collapse:collapse;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>NameAr</th>
                                <th>Sell Quantity</th>
                                <th>Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var prod in DSTop5ProdByQty)
                            {
                                <tr colspan="6" data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                                    <td>@prod.Name</td>
                                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">@prod.NameAr</td>
                                    <td>@prod.SellQuantity.ToString("0.000")</td>
                                    <td>@prod.Percentage.ToString("0.00")</td>
                                </tr>

                                <tr class="p">
                                    <td colspan="6" class="hiddenRow">
                                        <div class="accordian-body collapse p-3" id="demo1">
                                            <h4></h4>
                                            <table class="table table-bordered" style="border-collapse:collapse;">
                                                <thead style="background-color: #b4baff;">
                                                    <tr>
                                                        <th>Location</th>
                                                        <th>Sell Quantity</th>
                                                        <th>Overall %</th>
                                                        <th>Branch %</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="background-color: #edefff">

                                                    @foreach (var detail in prod.ProductDetails)
                                                    {

                                                        <tr>
                                                            <td>@detail.Location</td>
                                                            <td>@detail.SellQuantity.ToString("0.000")</td>
                                                            <td>@detail.Percentage.ToString("0.00")</td>
                                                            <td>@detail.PercentageAllItem.ToString("0.00")</td>
                                                        </tr>

                                                    }
                                                </tbody>
                                            </table>
                                            @*<p>Amount : <span></span></p>
                                            <p>Percentage : <span></span> </p>
                                            <p>Location : <span></span> </p>*@
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Top 10 Product By Qty (HO)</h5>
                    <table class="table table-bordered" style="border-collapse:collapse;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>NameAr</th>
                                <th>Sell Quantity</th>
                                <th>Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var prod in DSTop5ProdHoByQty)
                            {
                                <tr colspan="6">
                                    <td>@prod.Name</td>
                                    <td style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">@prod.NameAr</td>
                                    <td>@prod.SellQuantity.ToString("0.000")</td>
                                    <td>@prod.Percentage.ToString("0.00")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>


@section scripts {
    <script>
        //function rowSelected(args) {
        //    alert("row index: " + args.row.getAttribute('aria-rowindex'));
        //}

        $('.accordion-toggle').click(function () {
            $('.hiddenRow').hide();
            $(this).next('tr').find('.hiddenRow').show();
        });

        var fromD = "@fromDate";
        var toD = "@toDate";
        var data = "@jsonResult";

        var tData = JSON.parse(data.replace(/(&quot\;)/g, "\""));

        document.getElementById("totalBranchSales").innerText = tData.TotalBranchSales;
        document.getElementById("totalCashSales").innerText = tData.TotalCashSales;
        document.getElementById("totalKnetSales").innerText = tData.TotalKnetSales;
        document.getElementById("totalCreditCardSales").innerText = tData.TotalCreditCardSales;
        document.getElementById("totalCarraigeSales").innerText = tData.TotalCarraigeSales;
        document.getElementById("totalOnlineSales").innerText = tData.TotalOnlineSales;
        document.getElementById("salesReturnBranches").innerText = tData.SalesReturnBranches;

        document.getElementById("totalHOSales").innerText = tData.TotalHOSales;
        document.getElementById("totalHOSalesCash").innerText = tData.TotalHOSalesCash;
        document.getElementById("totalHOSalesCredit").innerText = tData.TotalHOSalesCredit;
        document.getElementById("salesReturnHO").innerText = tData.SalesReturnHO;

    </script>
}
